@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif; 

  background-image: url('/assets/teatris.jpg'); /* vai 'background.jpg' ja tas ir assets/images */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* <- bilde stÄv uz vietas */
  background-position: center center;
}

/* Classes, parameters for header displaying */
.header {
  overflow: hidden;
  background-color: #1f2123;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


.header a.active {
  margin-right: 10px;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* Classes, parameters for buttons */
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0; 
}

.btn-primary {
  background-color: #5f0e0e;
  border: none;
}

.btn-primary:hover {
  background-color: #5e1e1e;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-danger {
  background-color: #ee606e;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.back-button {
  text-align: right; 
  margin-top: 20px; 
  padding-right: 20px;
}

.notice {
  margin-left: 20px;
}

.alert {
  margin-left: 20px; /* Adds a gap from the left side */
}



